<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prozium.particlesfree">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".Activity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_planet_settings"
            android:exported="true"
            android:theme="@style/Theme.ParticlesFreeSettings"></activity>
        <service
            android:name=".WallpaperService"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" >
                </action>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" >
            </meta-data>
        </service>
    </application>
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
